<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723840740658-5p2b05rt0klosg66ssbmc9vm2tns8ivq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723840740658-5p2b05rt0klosg66ssbmc9vm2tns8ivq</string>
	<key>API_KEY</key>
	<string>AIzaSyCoknrVlZpDR317rBJhYVoZOxNfSQTrS6A</string>
	<key>GCM_SENDER_ID</key>
	<string>723840740658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.Bjorn.Ahstrom.GetIt</string>
	<key>PROJECT_ID</key>
	<string>getit-41fe8</string>
	<key>STORAGE_BUCKET</key>
	<string>getit-41fe8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723840740658:ios:e2a87555db6ef113</string>
	<key>DATABASE_URL</key>
	<string>https://getit-41fe8.firebaseio.com</string>
</dict>
</plist>